* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  font-size: 62.5%;
}

/*
        TODO: Typography

*/

h2 {
  font-size: 3.14rem;
}

p {
  font-size: 2.3rem;
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 2.8rem;
  }
  p {
    font-size: 1.7rem;
  }
}

.header {
  margin: 0;
  height: 70rem;
  width: 100vw;
  background-image: url("../Image/header_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-navigation {
  align-self: flex-start;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: yellow;
  padding: 2rem;
  cursor: pointer;
}

.right-navigation ul {
  list-style-type: none;
}

.right-navigation ul li {
  margin: 1.3rem;
}

.right-navigation ul li a {
  color: yellow;
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
}

.right-navigation ul li a:hover {
  color: yellowgreen;
}

.colorful-background {
  transition: background-color 0.5s;
}

.colorful-background a:hover {
  height: 7rem;
  width: 15rem;
  background-color: yellow;
  color: gray;
  border-radius: 5px;
}

@media screen and (min-width: 1024px) {
  .navigation {
    flex-direction: row;
    justify-content: flex-end;
  }

  .left-navigation {
    margin-left: 5rem;
    flex: 1;
  }

  .right-navigation {
    margin-right: 5rem;
  }
  .right-navigation ul li {
    display: inline;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 27rem;
  width: 35rem;
  background-color: gray;
  opacity: 0.7;
  margin: 0 auto;
  margin-top: 8rem;
}
.hero h2,
p {
  color: white;
}

.hero p {
  padding-left: 1.2rem;
}

.hero button {
  border: none;
  outline: 0;
  height: 5rem;
  width: 15rem;
  background-color: yellow;
  color: green;
  border-radius: 4px;
  margin-bottom: 2rem;
  padding: 1.2rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .header {
    height: 50rem;
  }

  .hero {
    margin-top: 2rem;
    width: 38rem;
  }
}

.section {
  margin-top: 2rem;
}

.location-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first img,
.second img,
.third img {
  height: 20rem;
  width: 40rem;
  margin: 2rem;
}

p {
  font-size: 1.3rem;
  color: black;
  padding-left: 7rem;
}
.colorful-text {
  color: aqua;
}

.section h1 {
  color: darkgray;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .location-section {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .first img,
  .second img,
  .third img {
    width: 35rem;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  width: 100vw;
  background-color: darkslategrey;
}

.footer p {
  color: white;
}
